---
import Layout from "~/layouts/Layout.astro";
import Hero from "~/components/sections/hero/Hero.astro";
import CoreServices from "~/components/sections/core-services/CoreServices.astro";
import Skills from "~/components/sections/skills/Skills.astro";
import Projects from "~/components/sections/projects-home/ProjectsHome.astro";
---

<Layout title="Vladimir Infante Dev">
  <main class="w-full">
    <Hero />
    <CoreServices />
    <Projects />
    <Skills />
  </main>
</Layout>
