---
import { Text } from "~/components/primitives";
import { AnimatedButtonContainer } from "~/components/composites/animated-button-container/AnimatedButtonContainer";
import { ArrowRight } from "lucide-preact";

interface Props {
  title: string;
  link: string;
  linkText?: string;
  withMargin?: boolean;
}
const { title, link, linkText, withMargin = true } = Astro.props;
---

<section class="container pt-14">
  <Text
    element="h3"
    className="autoShow mb-10 text-3xl font-semibold text-primary-lila"
    >{title}</Text
  >
  <div
    class:list={[`autoShow relative h-0.5 bg-bline`, { "mb-20": withMargin }]}
  >
    {
      linkText && (
        <a
          href={link}
          class="absolute right-0 h-[3.125rem] w-fit -translate-x-1/2 -translate-y-1/2"
        >
          <AnimatedButtonContainer>
            {linkText}
            <ArrowRight size={24} />
          </AnimatedButtonContainer>
        </a>
      )
    }
  </div>
  <slot />
</section>
